* {
  margin: 0;
  padding: 0;

  font-family: 'Squada One', cursive;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-eind {
  margin-top: 50px;
  color: #45A29E;
}

.punten {
  margin: 200px 0px 200px 0px;
  font-size: 80px;
  color: #707070;
}
